body {
  padding-bottom: 50px;
  background-color: #F8F7F6;
  font-size: 115%;
}

#profile-pic {
  height: 260px;
  width: 260px;
  display: block;
  padding: 0.1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.1rem;
}

.profile-row {
  margin-bottom: 8px;
  padding-bottom: 0px;
}

.publication-thumbnail {
  width: 180px;
  height: 180px;
  padding: 0.1rem;
  border-radius: 0.2rem;
  mix-blend-mode: multiply;
  object-fit: contain;
}

.citation-container {
  overflow: hidden;
}

.citation-content {
  position: absolute;
  border-radius: 10px;
  background-color: white;
  opacity: 0.95;
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
  color: black;
  display: none;
}

.citation-content:hover,
.citation:hover+.citation-content {
  position: absolute;
  display: block;
  box-shadow: 7px 6px 33px -8px rgba(0, 0, 0, 0.86);
  z-index: 1000;
}

.project-video {
  height: 250px;
  width: calc(250px * (16 / 9));
}

.code-copy-btn {
  position: relative;
  float: right;
  border: none;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.code-copy-btn:hover {
  background-color: #d0d0d0;
}

.code-background {
  background-color: #f0f0f0;
  padding: 5px;
  border: 1px solid #ddd;
  overflow: auto;
  border-radius: 5px;
}

.fa {
  width: 16px;
  height: 16px;
  text-align: center;
}

.name {
  margin-left: -5px;
}

.col {
  padding-left: 30px;
  padding-right: 30px;
}

body {
  min-height: 80vh;
  position: relative;
}

.faux-footer {
  height: 5rem;
}

.music-player-skip {
  height: 2rem;
}

.bottom-centered {
  text-align: right;
}

a {
  color: #638572;
  transition: color 0.3s ease;
}

a:hover {
  color: #4D6658;
}

/* @font-face {
  font-family: 'CrimsonText';
  src: url('fonts/CrimsonText/CrimsonText-Regular.woff') format('woff'),
    url('fonts/CrimsonText/CrimsonText-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('fonts/CrimsonText/CrimsonText-Italic.woff') format('woff'),
    url('fonts/CrimsonText/CrimsonText-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('fonts/CrimsonText/CrimsonText-Bold.woff') format('woff'),
    url('fonts/CrimsonText/CrimsonText-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('fonts/CrimsonText/CrimsonText-BoldItalic.woff') format('woff'),
    url('fonts/CrimsonText/CrimsonText-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('fonts/CrimsonText/CrimsonText-SemiBold.woff') format('woff'),
    url('fonts/CrimsonText/CrimsonText-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'CrimsonText';
  src: url('fonts/CrimsonText/CrimsonText-SemiBoldItalic.woff') format('woff'),
    url('fonts/CrimsonText/CrimsonText-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
} */

@font-face {
  font-family: 'selawik';
  src: url('fonts/selawik/selawk.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'selawik';
  src: url('fonts/selawik/selawkb.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('fonts/Noto_Sans/NotoSansSC-VariableFont_wght') format('truetype');
  font-weight: 400 700; /* Define the range of weights available */
  font-display: swap;
}

* {
  font-family: 'selawik', 'Noto Sans SC', sans-serif;
  line-height: 1.6;
  color:  #252b2e;
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 700px
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 880px
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 950px
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1100px
  }
}