body {
  padding-bottom: 50px;
  background-color: #F6F5F4;
  font-size: 115%;
}

#profile-pic {
  height: 250px;
  width: 250px;
  display: block;
  padding: 0.1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.1rem;
}

.profile-row {
  margin-bottom: 8px;
  padding-bottom: 0px;
}

.publication-thumbnail {
  width: 180px;
  height: 180px;
  padding: 0.1rem;
  border-radius: 0.1rem;
}

.citation-container {
  overflow: hidden;
}

.citation-content {
  position: absolute;
  border-radius: 10px;
  background-color: white;
  opacity: 0.95;
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
  color: black;
  display: none;
}

.citation-content:hover,
.citation:hover+.citation-content {
  position: absolute;
  display: block;
  box-shadow: 7px 6px 33px -8px rgba(0, 0, 0, 0.86);
  z-index: 1000;
}

.project-video {
  height: 250px;
  width: calc(250px * (16 / 9));
}

.code-copy-btn {
  position: relative;
  float: right;
  border: none;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.code-copy-btn:hover {
  background-color: #d0d0d0;
}

.code-background {
  background-color: #f0f0f0;
  padding: 5px;
  border: 1px solid #ddd;
  overflow: auto;
  border-radius: 5px;
}

.fa {
  width: 16px;
  height: 16px;
  text-align: center;
}

.name {
  margin-left: -5px;
}

.col {
  padding-left: 30px;
  padding-right: 30px;
}

body {
  min-height: 80vh;
  position: relative;
}

.faux-footer {
  height: 5rem;
}

.bottom-centered {
  text-align: right;
}

a {
  color: #6F85D0
}

a:hover {
  color: #5068B0
}


@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('fonts/Cormorant_Garamond/CormorantGaramond-Medium.woff') format('woff'),
    url('fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('fonts/Cormorant_Garamond/CormorantGaramond-MediumItalic.woff') format('woff'),
    url('fonts/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('fonts/Cormorant_Garamond/CormorantGaramond-Bold.woff') format('woff'),
    url('fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.woff') format('woff'),
    url('fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.woff') format('woff'),
    url('fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Cormorant_Garamond';
  src: url('fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.woff') format('woff'),
    url('fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source';
  src: url('fonts/Source_Sans/SourceSans3-Regular.woff') format('woff'),
    url('fonts/Source_Sans/SourceSans3-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Source';
  src: url('fonts/Source_Sans/SourceSans3-Italic.woff') format('woff'),
    url('fonts/Source_Sans/SourceSans3-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source';
  src: url('fonts/Source_Sans/SourceSans3-Bold.woff') format('woff'),
    url('fonts/Source_Sans/SourceSans3-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Source';
  src: url('fonts/Source_Sans/SourceSans3-BoldItalic.woff') format('woff'),
    url('fonts/Source_Sans/SourceSans3-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source';
  src: url('fonts/Source_Sans/SourceSans3-SemiBold.woff') format('woff'),
    url('fonts/Source_Sans/SourceSans3-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Source';
  src: url('fonts/Source_Sans/SourceSans3-SemiBoldItalic.woff') format('woff'),
    url('fonts/Source_Sans/SourceSans3-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'KaiTi';
  src: url('fonts/华文楷体.woff') format('woff'),
    url('fonts/华文楷体.ttf') format('truetype');
  font-weight: normal;
}

* {
  font-family: 'Cormorant_Garamond', 'KaiTi';
}

/* @media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 700px
  }
} */

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 880px
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 950px
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1100px
  }
}